<div class="bg-light p-4 rounded">
<img src="/blog/images/headers/gorilla2.png" class="rounded mx-auto d-block pb-2 img-fluid">
<p>“Since the Unistat primates, like other domesticated hominids, did not know they were primates, all this was explained by a ferocious amount of ink excretions invoking Morality and Ideology, the twin gods of domesticated primatedom.”</p>
<p><a href="https://www.goodreads.com/book/show/125310.Schr_dinger_s_Cat_1" target="_blank">  - Robert Anton Wilson, Schrodinger's Cat 1: The Universe Next Door</a></p>
</div>

<div class="p-4 mt-5 border-top">
  <h3>Tag List</h3>
  <p>
    {% include 'snippets/tagslist.njk' %}
  </p>
</div>
