<div class="row border-top py-5">
  <div class="col-12">
    <p class="">Built with the 
     <a href="https://www.11ty.dev/" class="link-fancy">Eleventy</a> static site generator and the awesome
     <a href="https://github.com/holger1411/11straps" class="link-fancy">11straps Theme</a> by
     <a href="https://github.com/holger1411" class="link-fancy">Holger Koenemann</a>.</p>
  </div>
</div>

<script src="{{ '/js/bootstrap.bundle.min.js' | url }}"></script>
