 <main class="container">
   <div class="row d-flex justify-content-center">
      <div class="col-12 col-xl-8">
          <div class="py-vh-6 px-10 text-center">
        <header class="border-bottom pb-4 mb-4">
           <h1 class="display-1">{{ title }}</h1>
        </header>
      <p class="lead">
        {{ summary }}
      </p>
     </div>
    </div>
  </div>
</main>
 
{{ content | safe }}
