 <!-- Footer -->
  <footer>
    <div class="container text-light" style="background-color:#61456A;">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto mt-3">
          <ul class="list-inline text-center">
            <li class="list-inline-item pe-4">
               powered by<br/>
               <a href="https://tiddlywiki.com" target="_blank"><img src="/blog/icons/tiddlywikiicon.ico" width="64px"></a>
            </li>
            <li class="list-inline-item ps-4 pe-4">
               and<br/>
               <a href="https://startbootstrap.github.io/startbootstrap-clean-blog/index.html" target="_blank"><img src="/blog/icons/bootstrap.png" width="64px"></a>
            </li>
            <li class="list-inline-item ps-4 pe-4">
               view code<br/>
               <a href="https://github.com/digitalap3/tiddlywikistaticsitegen" target="_blank"><img src="/blog/icons/github-light-64.png" width="64px"></a>
            </li>
            <li class="list-inline-item ps-4 pe-4">
               my wiki<br/>
               <a href="https://mainwiki.imadigitalape.com" target="_blank"><img src="/blog/icons/network128.png" width="64px"></a>
            </li>
            <li class="list-inline-item ps-4">
               Contact Me<br/>
               <a href="https://blog.digitalap3.com/contact.html" target="_blank"><img src="/blog/icons/notebook128.png" width="64px"></a>
            </li>
          </ul>
          <br/>
          <p class="copyright text-mutedd mb-3">Copyright &copy; digitalap3 2022</p>
        </div>
      </div>
    </div>
  </footer>
